* text=auto

*.md text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.ps1 text eol=lf
*.sql text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
*.exe binary
*.apk binary
*.jar binary

gradlew text eol=lf
*.sh text eol=lf
*.bat text eol=crlf
*.cmd text eol=crlf
*.kts text eol=lf
*.kt text eol=lf
*.toml text eol=lf
*.cs text eol=lf
*.xaml text eol=lf
*.iss text eol=crlf
